AUTH_API_URL=http://localhost:8085
PERSON_API_URL=http://localhost:8086
PARLOUR_API_URL=http://localhost:8086
PHARMACY_API_URL=http://localhost:8086
RESTAURANT_API_URL=http://localhost:8086
DMS_API_URL=http://localhost:8087
DMS_APP_ROOT_FOLDER_ID=1
DMS_BUSINESS_APP_ROOT_FOLDER_ID=2
